@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");
.section {
  width: 100%;
  height: 100vh;
  position: relative;
  background-image: url("../images/fondo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: start;
  align-items: center;
}
.section::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(83, 12, 142, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}
.section__article {
  z-index: 5;
  position: relative;
  width: 70%;
  margin-left: 7em;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.section__article h6 {
  color: white;
  font-size: 20px;
  font-weight: 400;
}
.section__article h1 {
  color: white;
  font-size: 4em;
  font-weight: 500;
}
.section__article h1 span {
  color: #ff5050;
}
.section__time {
  display: flex;
  display: flex;
  justify-content: start;
  align-items: center;
}
.section__time__dias, .section__time__horas, .section__time__minutos, .section__time__segundos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.section__time__dias:not(:last-child), .section__time__horas:not(:last-child), .section__time__minutos:not(:last-child), .section__time__segundos:not(:last-child) {
  margin-right: 30px;
}
.section__time__dias p, .section__time__horas p, .section__time__minutos p, .section__time__segundos p {
  font-size: 3em;
  color: white;
  font-weight: 300;
}
.section__time__dias span, .section__time__horas span, .section__time__minutos span, .section__time__segundos span {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 300;
}
.section__btn {
  margin-top: 15px;
  width: 140px;
  font-size: 15px;
  background-color: transparent;
  border: solid 2px white;
  color: white;
  height: 50px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section__btn ion-icon {
  font-size: 26px;
}
.section__rocket {
  position: absolute;
  bottom: 0;
  right: 3em;
  z-index: 0;
  width: 4;
  animation: nave 3s linear infinite;
}
@keyframes nave {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
    bottom: 20%;
  }
  70% {
    opacity: 0.3;
    bottom: 50%;
  }
  100% {
    opacity: 0;
    bottom: 100%;
  }
}
.section__planets {
  position: absolute;
  top: -20px;
  right: 28%;
  z-index: 0;
  width: 42em;
  animation: planets 4s linear infinite;
}
@keyframes planets {
  0% {
    right: 25%;
  }
  50% {
    right: 28%;
    top: -5px;
  }
  100% {
    right: 25%;
  }
}
@media (max-width: 860px) {
  .section__article {
    padding: 0 15px;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__article h6 {
    font-size: 16px;
  }
  .section__article h1 {
    font-size: 22px;
  }
  .section__time {
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 100%;
    gap: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section__time__dias, .section__time__horas, .section__time__minutos, .section__time__segundos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section__time__dias:not(:last-child), .section__time__horas:not(:last-child), .section__time__minutos:not(:last-child), .section__time__segundos:not(:last-child) {
    margin-right: 0;
  }
  .section__time__dias p, .section__time__horas p, .section__time__minutos p, .section__time__segundos p {
    font-size: 2em;
    color: white;
    font-weight: 300;
  }
  .section__time__dias span, .section__time__horas span, .section__time__minutos span, .section__time__segundos span {
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: 300;
  }
  .section__planets {
    position: absolute;
    top: 0;
    right: 0 !important;
    z-index: 0;
    width: 15em;
  }
  .section__rocket {
    right: 26%;
    width: 150px;
  }
  .section__btn {
    font-size: 14px;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Rubik", sans-serif;
}

/*# sourceMappingURL=style.css.map */
