$color-red: #ff5050;

@mixin section ($position) {
    width: 100%;
    height: 100vh;
    position: $position;
}

@mixin background ($url) {
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin before ($bacground){
    content: '';
        width: 100%;
        height: 100vh;
        background-color: $bacground;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 3;
}

@mixin flex ($justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}

@mixin time {
    @include flex(start, center);

    &__dias,
    &__horas,
    &__minutos,
    &__segundos{
        @include flex(center,center);
        flex-direction: column;
        &:not(:last-child){
            margin-right: 30px;
        }
    }

    &__dias p,
    &__horas p,
    &__minutos p,
    &__segundos p{
        font-size: 3em;
        color: white;
        font-weight: 300;
    }

    &__dias span,
    &__horas span,
    &__minutos span,
    &__segundos span{
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: 300;
    }
}

@mixin time-Small {
    @include flex(center, center);

    &__dias,
    &__horas,
    &__minutos,
    &__segundos{
        @include flex(center,center);
        flex-direction: column;
        &:not(:last-child){
            margin-right: 0;
        }
    }

    &__dias p,
    &__horas p,
    &__minutos p,
    &__segundos p{
        font-size: 2em;
        color: white;
        font-weight: 300;
    }

    &__dias span,
    &__horas span,
    &__minutos span,
    &__segundos span{
        color: rgb(255, 255, 255);
        font-size: 15px;
        font-weight: 300;
    }
}

@mixin btn {
    margin-top: 15px;
    width: 120px;
    font-size: 15px;
    background-color: transparent;
    border: solid 2px white;
    color: white;
    height: 50px;
    cursor: pointer;
    @include flex(center, center);
}